<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bank.Properties.Settings.bankConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=bank1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>